.quiz-card-box {
    margin: 10px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 1px 1px 6px 0px;
    width: 80%;
    max-width: 400px;
    height: 200px;
    display: flex;

    .left-button, .right-button {
        display: flex;
        align-items:  center;
        justify-content: flex-end;
        width: 10%;
        background: linear-gradient(-86deg, #E7E7E7, rgba(232, 232, 232, 0));
        &:hover {
            cursor: pointer;
            svg {
                color: red;
            }
        }
      
    }

    .left-button {
        transform: rotate(180deg);
    }

    .quiz-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;

        .poke-name {
            font-size: 1.5em;
            text-align: center;
            font-weight: bold;
            margin-top: 15px;
        }
        .quiz-details {
            text-align: center;
            width: 100%;
        }
    }
   
}