/* creating the quiz panel */
.quiz-card-box {
    margin: 10px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 1px 1px 6px 0px;
    width: 80%;
    max-width: 400px;
    height: 200px;
    display: flex;
    /* creating some gradients and buttons for a nice ui/ux clicking through the quiz */
    .left-button, .right-button {
        display: flex;
        align-items:  center;
        justify-content: flex-end;
        width: 10%;
        background: linear-gradient(-86deg, #E7E7E7, rgba(232, 232, 232, 0));
        &:hover {
            cursor: pointer;
            background: linear-gradient(-86deg, #E7E7E7, rgba(232, 232, 232, 0.5));
            svg {
                color: #809bce;
            }
        }
      
    }
    /* flipping this size so that the icon is facing the right way */
    .left-button {
        transform: rotate(180deg);
    }

    /* centering the text and some other basic font styles */
    .quiz-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;

        .poke-name {
            font-size: 1.5em;
            text-align: center;
            font-weight: bold;
            
            display: flex;
            align-items: center;
        }
        .quiz-details {
            text-align: center;
            width: 100%;
        }
    }
   
}