.card-box {
    margin: 10px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 1px 1px 6px 0px;
    width: 310px;


    .pokemon-name {
        font-size: 1.5em;
        text-align: center;
        padding: 20px;
        font-weight: bold;
    }
    .card-footer {
        background-color: #ff1f1f;
        text-align: center;
        padding: 10px;
        color: white;
        cursor: pointer;
    }
}