.card-box {
    margin: 10px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 1px 1px 6px 0px;
    width: 370px;
    cursor: pointer;

    .pokemon-name {
        font-size: 1.5em;
        text-align: center;
        padding: 20px;
        font-weight: bold;
    }
    .card-footer {
        background-color: #809bce;
        text-align: center;
        padding: 10px;
        color: black;
       
        border-radius: 0 0 6px 6px;
    }
}
.completed {
    box-shadow: 0px 0px 10px 2px darkgreen;
}