
    .panel-info {
        /* centering our text, setting colors and creating the panel with borders and shadows */
        display: flex;
        justify-content: center;
        width: 85%;
        margin-bottom: 30px;

        padding: 15px;
        background-color: #809bce;
        border-radius: 6px;
        box-shadow: 2px 2px;
        font-size: 13pt;
        
    }

